*{margin: 0px;padding: 0px;
    
}
@font-face {
    font-family: zuume;
    src: url(Zuume\ Bold.ttf);
}
.nav1{
    text-align: center;font-family: 'Bowlby One SC', sans-serif;color:#ff8732;background-color:#392f5a;
}
.main{height: 100vh;background-color:#f5ebdc;
   padding-top: 40px;text-align: center;
}
.main h1{font-family: zuume;font-size: 50px;color:#023047;
}
.hero{
    padding-top: 30px;padding-bottom: 10px;
}
.hero h1{font-family: 'Bowlby One SC', sans-serif;font-weight: 200;}
.main p{
    font-size: 20px;font-family: 'Bowlby One SC', sans-serif;letter-spacing: 0.1em;
}
.main ul{list-style: none;
    padding: 0;
    display: flex;text-align: center;}
.main h2{
    font-family: 'Bowlby One SC', sans-serif;
    font-size: 30px;
    color:#023047;padding-bottom: 30px;padding-top: 30px;
}

        li {
            margin-right: 10px;margin-left: 10px; /* Adjust the spacing between items */
            padding:50px;
            border-radius: 5px;
            color: #fff; /* Text color */
        }

        #list1 {
            background-color: #FF5733; /* Orange for Pizza */
        }

       #list2{
            background-color: #33FF57; /* Green for Sushi */
        }

        #list3 {
            background-color: #5733FF; /* Purple for Chocolate Cake */
        }
